@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --clr-base-font: hsl(224, 23%, 55%);
    --clr-secondary-font: hsl(223, 47%, 23%);

    --clr-main-blue: hsl(224, 23%, 55%);
    --clr-secondary-blue: hsl(223, 47%, 23%);
    --clr-light-blue: hsl(245, 75%, 52%);
    --clr-hover-blue: hsl(249, 67%, 62%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;

    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    height: 100vh;
    background-color: hsl(225, 100%, 94%);
    color: var(--clr-base-font);
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    border-radius: 1em;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 425px;
}

/* Hero Styling */
.hero-illustration {
    width: 100%;
    border-radius: 1em 1em 0em 0em
}

/* Description */
h1 {
    font-size: 1.4em;
    padding: 1em;
    color:  var(--clr-secondary-font)
}

.detail-section {
    width: 100%;

    display: flex;
    justify-content: center;
}

.details {
    width: 90%;
    max-width: 325px;
}

/* Item Card */
.item-card {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color:hsl(225, 100%, 98%);
    gap: 1em;
    border-radius: 0.5em;
    margin: 2em 0em 2em 0em;
    width: 90%;
    max-width: 325px;
}

.item-card > a:hover {
    font-weight: 700;
    text-decoration: none;
    color: var(--clr-hover-blue);
}

 .cancel {
     margin-left: auto;
 }

h4 {
    color: var(--clr-secondary-font);
}

/* Buttons */

.btn {
    width: 90%;
    max-width: 325px;
    padding: 1.2em;
    border-radius: 0.5em;
    outline: none;
    background-color: transparent;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--clr-hover-blue);
}

.btn-secondary:hover {
    color: black;
    font-weight: 900;
}


.btn-primary {
    background-color: var(--clr-light-blue);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-secondary {
    color: var(--clr-base-font);
    margin: 0.5em 0em 1em 0em;
}



/* Footer Stlying */
.attribution {
    position: absolute;
    width: 100%;
    bottom: 0px;
    font-size: 11px; 
    padding-bottom: 1em;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}